@{
    ViewBag.Title = "Contact";
}


<address><p style=" text-align:center"</p>
    Vilniaus universitetas<br />
    PS 5gr <br />
    Paulius Grigaliūnas <br />
    Modestas Dulevičius <br />
    Tomas Kazlauskas <br />
    Emilija Lamanauskaitė <br />
    Naugarduko g. 24<br />
</address>

