@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Football</h1>
    <p class="lead">This is Football comentator</p>
    <p><a href="http://localhost:64973/Teams/First"  class="btn btn-primary btn-lg"> First &raquo;</a></p>
    <p><a href="http://localhost:64973/Teams/Second" class="btn btn-secondary btn-lg"> Second &raquo;</a></p>
    <p><a href="http://localhost:64973/WebCamForm.aspx"  class="btn btn-info btn-lg"> WebCamera &raquo;</a></p>
</div>
