@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Football</h1>
    <p class="lead">This is Football comentator</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Start &raquo;</a></p>
</div>
