@{
    ViewBag.Title = "About";
}
<head>

    <style>
        body {
            margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
            text-align: left;
        }


        .jumbotron {
            background-color: rgba(169, 167, 167, 0.70);
        }
    </style>

</head>
<div class="jumbotron">


    <p> </p>
   <p>
    </p>

</div>

