

<head>

    <style>
        body {
            margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
            text-align: left;
        }


        .jumbotron {
            background-color: rgba(169, 167, 167, 0.70);
        }
    </style>
</head>
<div class ="jumbotron">
    <h1>Football Comentator</h1>
    <p class="lead"> It's time for football</p>
    <p><a href="http://localhost:60096/Games/Details" class="btn btn-primary btn-lg">Let's Play &raquo;</a></p>
</div>

