<div class ="jumbotron">
    <h1>Football Comentator</h1>
    <p class="lead"> It's time for football</p>
    <p><a href="http://localhost:60096/Home/Start" class="btn btn-primary btn-lg">Let's Play &raquo;</a></p>
</div>

